<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="be.vbsteven.bmtodesk"
      android:versionCode="15"
      android:versionName="0.6">
    <application android:icon="@drawable/icon" android:label="@string/app_name">

    	<!--  simple activities -->
    	<activity android:name=".RegistrationActivity" />
        <activity android:name=".Preferences" />
        <activity android:name=".AfterSuccessfulSendActivity" />
        <activity android:name=".SendAllCurrentBookmarksActivity" />
        <activity android:name=".ConfigureAddonActivity" />
        <activity android:name=".ConfigureRssActivity" />

    	<!-- Main activity with intentfilter for application launcher -->
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Shareactivity with intentfilter to catch "Share to" intent -->
        <activity android:name=".ShareActivity"
               	android:configChanges="orientation|keyboardHidden">
            <intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
        </activity>

		<!--  Service for sending bookmarks in the background -->
        <service android:name=".BackgroundSharingService" />
    </application>

    <uses-sdk android:minSdkVersion="3" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />

    <!-- support all screens in the Android market -->
	<supports-screens 
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true" />
</manifest> 
